# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- List commonly used libraries for Data Science.
- Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scikit-learn
2. Seaborn
3. Matplotlib


| Data Science Tools |
---------
| R Studio |
| Google Colab |
| Jupyter Lab |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author 
Noriko